.cp{
	margin: 0 auto;
	width: 90%;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.left_bar {
    width: 20%;
    height: 100%;
    min-height: 500px;
    float: left;
    background-color: #fff;
}
.cp_body{
    float: right;
    width: 80%;
}
.pl10{padding-left: 10px;
    list-style: none;
}
.pl20{padding-left: 20px;
    list-style: none;
}
.bar_linck{

}
.bar_linck:hover{
    text-decoration: none;
}
.active{
color: #3394e6;
}
.tb5n5, .tb5n20{
    display: flex;
    flex-wrap: wrap;
}
.tb5n5 > div{
    width: 50%;
    padding-bottom: 10px;
}
.tb5n20 > div{
    width: 16%;
    padding-bottom: 10px;
}
.tb5n21{
    width: 20%;
    padding-bottom: 10px;
    color: #aaa;
    background: aliceblue;
}     
.green{
    color: green;
}
.ttitle:first-child:first-letter {
    font-size: 1.2em;
    text-transform: uppercase;
}
.enter{
    float: right;
    padding: 3px;
    background: green;
    color: #fff;
    border-radius: 3px;
}
.tcp{text-align: left;padding-left: 30px;margin: 1em 0 0.6em 0;width: 500px;}
.section{
   width: 400px;margin-bottom: 20px; 
}
.mods{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mod{
    width: 300px;
    margin-bottom: 20px;
}