.title{
text-transform: capitalize
}
.row{
	max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.sidebar{
    width: 28%;
    height: 450px;
    margin-top: 30px;

    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 15px;

    padding: 5px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;

}
.page{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ucont{
    margin-bottom: 15px;
    width: 100%;
    height: 200px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.c100,.card > div,.card > h3,.card > a,.card > p{
    width: 100%;
    text-align: center;
}
.clear{
    clear: both;
}