/* Сброс */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
} article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
} body
{
    line-height: 1;
} ol,
ul
{
    list-style: none;
} blockquote,
q
{
    quotes: none;
} blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
} table
{
    border-spacing: 0;
    border-collapse: collapse;
}

html
{
    height: 100%;
    min-height: 100%;
}
body
{
    min-height: 100%;
}
html,
html a
{
    -webkit-font-smoothing: antialiased;
}

/* Настройка основной типографии */
body,
select,
input,
textarea,
button
{
    font: normal 14px/1.5 Arial, Helvetica, sans-serif;

    color: #353535;
    outline: none;
}
a
{
    text-decoration: none;

    color: #3394e6;
    outline: none;
}
a:hover
{
    text-decoration: underline;
}

a img
{
    border: 0 none;
}
a > img
{
    vertical-align: bottom;
}

/* Заголовки H1-6 */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5
{
    font-weight: bold;
    line-height: normal;

    margin: 2em 0 .6em 0;

    letter-spacing: -.01em;

    text-rendering: optimizeLegibility;
}
h1,
.h1
{
    font-size: 23px;
}
h2,
.h2
{
    font-size: 21px;
}
h3,
.h3
{
    font-size: 20px;
}
h4,
.h4
{
    font-size: 18px;
}
h5,
.h5
{
    font-size: 16px;
}


body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;

    overflow-x: hidden;

    height: 100%;
    margin: 0;

    color: #333;
    background-color: #ebeff1;

    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}
a
{
    text-decoration: none;

    color: #808080;
}
h2
{
    font-size: 20px;

    margin: 5px;

    text-align: center;
}

footer > div
{
    background-color: #262626;
}
/* //////////// */

/* LOADING */
#loading
{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
}
.loadstyle
{
    width: 32px;
    height: 10px;
    margin: auto;
    padding: 20px;

    opacity: .6;
    border-radius: 5px; /*-moz-border-radius: 5px;box-shadow: 0px 2px 8px 1px #444; -moz-box-shadow: 0px 2px 8px 1px #444;*/
    background: #000 url('/assets/grape/img/loading.gif') no-repeat center;
}

/* Header */

.header_block
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    z-index: 3;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    min-height: 64px;
    max-height: 1000px;
    margin: 0;
    padding: 0;

    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    transition-property: max-height,box-shadow;

    color: rgb(255,255,255);
    border: none;
    background-color: rgb(103,58,183);
    background-color: rgb(103,58,183)!important;
    box-shadow: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
}
.layout_header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    box-sizing: border-box;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
    padding-left: 40px;

    color: rgb(255,255,255);

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
            align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.logotype
{
    font-size: 2em;
    font-weight: 500;

    padding: 5px;

    text-transform: uppercase;

    color: rgb(0, 0, 0);
    text-shadow: 2px 4px 3px #464433;
}
.logotype:hover
{
    text-shadow: 2px 2px 6px #757047;
}
.logotype:active
{
    color: #ffed4c;
}
.layout_tab_bar
{
    position: relative;
    z-index: 2;

    overflow: visible;
    overflow: hidden;

    width: 100%;
    height: 64px;
    height: 48px;
    margin: 0;

    border: none;

    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
            flex-shrink: 0;
}
.tab-barcolor
{

/*     overflow-x: scroll;
overflow-y: hidden; */

    width: 100%;
    height: 65px;
    margin: 0;

    background-color: rgb(81,45,168)!important;
}
.layout_tab
{
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;

    position: relative;

    display: block;
    overflow: hidden;

    height: 48px;
    margin: 0;
    padding: 0 24px;

    text-decoration: none;
    text-transform: uppercase;

    color: rgba(255,255,255,.6);
    border: none;

    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.layout_tab
.active
{
    color: rgb(255,255,255);
}
.active > .tab_container
{
    color: rgb(255,255,255);
}
.title
{
    text-align: center;

    color: #3394e6;
}

.layout_tab_space
{
    width: 54%;
    height: 48px;
}

span.tab_container
{
    font-size: 14px;
    font-weight: 500;
    line-height: 64px;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    text-align: center;
    text-transform: uppercase;

    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.active > .tab_container::after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 2px;

    content: ' ';
    transition: all 1s cubic-bezier(.4,0,1,1);
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
            animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;

    background: rgb(255,64,129);
}

/* Header */
.main_conteiner
{
    width: 1000px;
    margin: 0 auto;
}
.sec-main
{
    display: flex;

    width: 90%;
    margin: 0 auto;
}
/* main */
.imgp02
{
    width: 113px;
    height: 113px;
    padding: 10px;
}
.imgp02 > img
{
    width: 113px;
    height: 113px;
    border-radius: 50%;
}

.text-j
{
    width: 80%;
    margin: auto;

    text-align: justify;
}

section
{
    padding: 5px;

    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

.fs
{
    text-decoration: none;

    color: rgb(158, 154, 154);
}
.fs:hover
{
    text-decoration: none;

    color: rgb(228, 228, 228);
}


/* //////////// */
.header
{
    /*left: 50%;  Отступ в процентах от левого края окна */
    /*position: absolute; /* Абсолютное позиционирование блока */
    margin: 0;
}
ul.topmenu
{
    clear: both;

    margin: 0 0 5px 0;
    padding: 4px 4px 0 4px;

    text-align: center;
}
ul.topmenu li
{
    display: inline;

    width: 420px;
    padding: 5px;

    text-align: center;
    text-decoration: none;

    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
a:hover
{
    color: black;
}
.topmenu li:hover
{
    color: #fff;
    background: #ccc;
}
.content
{
    width: 100%;
    min-height: 45%;
    margin: 0 auto;
}
.forms
{
    padding: 10px;
}
.left,
.righta,
form,
form input,
select
{
    border-radius: 2px;
}
.left
{
    border-right: 1px solid #ccc;
}
form input,
select
{
    border: 1px solid #ccc;
    background: #eee;
}
form input:hover,
select:hover
{
    background: #ccc;
}
form
{
    padding: 5px;
}
.comments
{
    font-size: 12px;

    overflow-y: scroll;

    height: 100px;
    margin: 5px;

    border: 1px solid grey;
}
.confirm,
.deny
{
    min-width: 100px;
    margin-left: 10px;

    opacity: .6;
    color: white;
    border: 1px solid #512da8;
    border-radius: 5px;
    background: #512da8;
}
.confirm:hover
{
    cursor: pointer;

    opacity: 1;
    background: #396;
}
.deny:hover
{
    cursor: pointer;

    background: #e55050;
}
table,
tr,
td
{
    margin: 10px;
    padding: 3px;

    border-collapse: collapse;

    text-align: center;

    border-right: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
    border-left: 1px solid #bbb;
}
td
{
    padding: 7px 5px ;
}

.thead
{
    background-color: #ccc;
}
.left,
.right
{
    float: left;
    overflow: auto;

    width: 45%;
    height: 450px;
    margin: 15px;
    padding: 5px;
}

.clear
{
    clear: left;
}

.cursor_pointer {
    cursor: pointer;
}

.sub-notice
{
    font-size: 12px;

    float: left;
    /*border-radius: 5px;*/

    margin: 5px;
    padding: 5px;

    color: #aaa;
}
.notice
{
    border-left: 10px solid #1eb903;
    text-shadow: 0 0 0 #000;
}
.error
{
    border-left: 10px solid #ac0101;
    text-shadow: 0 0 0 #000;
}
.access
{
    border-left: 10px solid #fc0;
}
.login_status
{
    float: right;
}
.green
{
    background-color: #cfc;
    text-shadow: 1px 1px 2px black, 0 0 1em green; /* Параметры тени */
}
.red
{
    background-color: #f9c;
    text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
}
.status
{
    position: relative; /* Относительное позиционирование */

    display: inline-block; /* Строчно-блочный элемент */

    border: 0 solid white;
}
.status:hover::after
{
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */

    position: absolute; /* Абсолютное позиционирование */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    right: 0;
    bottom: 0; /* Положение подсказки */
    left: 0;

    padding: 7px 10px; /* Поля */

    content: attr(data-title); /* Выводим текст */
    text-align: center; /* Выравнивание текста по центру */

    color: #fff; /* Цвет текста */
    background: rgba(0,5,5,.6); /* Полупрозрачный цвет фона */
}
.filter a
{
    padding: 2px;

    color: black;
}
.filter a:hover
{
    background: #eee;
}


/*--------------------------------*/
.std-button
{
    margin: 2px;
    padding: 3px;

    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.std-button:hover
{
    cursor: pointer;

    background: #ccc;
}


#mask
{
    position: absolute;
    z-index: 9000;
    top: 0;
    left: 0;

    display: none;

    background-color: #000;
}
#modal-head
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    height: 30px;
    margin-bottom: 10px;
    padding: 3px;

    border-radius: 5px;
    background: #ccc;
}
#modal
{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;

    display: none;

    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;

    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
}
#mod-content
{
    overflow-y: scroll;

    margin: 10px;
}
#close
{
    float: right;

    width: 24px;
    height: 24px;

    text-align: center;

    color: black;
    border-radius: 12px;
    background: #008000;
}
#close:hover
{
    cursor: pointer;

    color: red;
    background: #396;
}
#cars,
#company,
#drivers
{
    float: left;

    margin: 10px;
    padding: 10px;
}
.clear
{
    clear: both;
}

.viewfull:hover
{
    text-decoration: none;

    color: #838383;
}
a.viewfull
{
    display: inline-block;
    float: right;

    margin-top: -40px;
    padding: 8px 16px;

    color: #454545;
    border: 1px solid #d8dcdc;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #fff;
    background:    -moz-linear-gradient(top,#fff 0,#f8fafa 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f8fafa));
    background: -webkit-linear-gradient(top,#fff 0,#f8fafa 100%);
    background:      -o-linear-gradient(top,#fff 0,#f8fafa 100%);
    background:     -ms-linear-gradient(top,#fff 0,#f8fafa 100%);
    background:         linear-gradient(top,#fff 0,#f8fafa 100%);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
            box-shadow: 0 0 5px rgba(0,0,0,.1);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8fafa', GradientType=0);
}
.viewfull
{
    font-family: Georgia,serif;
    font-size: 16px;
    font-style: italic;

    display: block;

    color: #454545;
}
._form
{
    width: 500px;
    margin: auto;
    padding: 5px;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
._form_group
{
    text-align: right;
}
._form_group > label
{
    width: 200px;

    text-align: right;
}
._form_group > input
{
    float: right;

    width: 50%;
    margin-left: 10px;
}
.post-thumbnail > img
{
    width: 100%;
}
.sec1
{
    display: flex;

    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    justify-content: space-between;
}
.sec1_2
{
    width: 631px;
}
.profile-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}
.profile-list li
{
    margin-bottom: 13px;
}
.clearfix
{
    clear: both;
}
b,
strong
{
    font-weight: 700;
}
.profile-list .ptitle
{
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;

    display: block;
    float: left;

    width: 120px;

    text-transform: uppercase;

    color: #333;
}
.profile-list .cont
{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;

    display: block;

    margin-left: 125px;

    color: #9da0a7;
}
.profile-list .button
{
    font-size: 12px;
    font-weight: 700;
    line-height: 1;

    position: relative;
    top: -2px;

    display: inline-block;

    padding: 5px 8px;

    text-transform: none;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #33d685;

        -ms-border-radius: 3px;
         -o-border-radius: 3px;
}
.info
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.f_nav{
    display: flex;
}
.mega_footer > div > li {
    list-style: none;
    margin-left: 10px;
}
@media only screen and (max-width: 1440px)
{
    .sec1_2
    {
        width: 631px;
    }
}
@media only screen and (max-width: 1368px)
{
    .sec1_2
    {
        width: 591px;
    }
}
@media only screen and (max-width: 1024px)
{
    .sec1_2
    {
        width: 445px;
    }
    .clearfix > .cont
    {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 768px)
{
    .sec1_2
    {
        width: 330px;
    }
    .layout_tab
    {
        width: auto;

        text-align: left;

        flex: auto;
    }
    .layout_tab_space
    {
        width: 0;
        height: 48px;
    }
}
@media only screen and (max-width: 425px)
{
    .sec-main
    {
        display: block;
    }
    .imgp02
    {
        margin: auto;
    }
    .sec1_2
    {
        width: 182px;
    }

    .layout_tab
    {
        padding: 0 5px;
    }
    .profile-list .ptitle
    {
        width: 140px;
    }
    .sec1
    {
        width: 93%;
    }
}
@media only screen and (max-width: 375px)
{
    .sec1_2
    {
        width: 445px;
    }
    .layout_tab
    {
        padding: 0 0;
    }
}
@media only screen and (max-width: 320px)
{
    .sec1_2
    {
        width: 445px;
    }
}

/* MENU */

.menu{height: 48px;background: #512da8;}
.menu ul{margin: 0;padding: 0;list-style: none;}
.menu ul li{float: left;}
li{line-height: 24px;}
.menu ul li a{display: block;min-width: 79px;height: 48px;padding: 0 15px;
transition: color 160ms linear 10ms, background 160ms linear 10ms;text-align: center;text-decoration: none;color: #fff;}
.menu ul ul{position: absolute;z-index: 5;visibility: hidden;
min-width: 152px;
margin-top: 12px;
transition: all 230ms ease 10ms;
opacity: 0;
border-top: solid 5px #3394e6;
border-radius: 0 0 4px 4px;
background: rgb(63, 36, 127);
box-shadow: 0 3px 3px rgba(0,0,0,.2);}
.menu ul ul li{position: relative;float: none;}
.menu ul ul li a{font-size: 12px;width: auto;height: 36px;padding-top: 6px;padding-left: 16px;text-align: left;color: #c0bebe;border: none;border-bottom: solid 1px #252525;}
.menu ul ul li:hover > a{color: #fff;background: #333;}
.menu ul li:hover > ul{visibility: visible;margin-top: 0;opacity: 1;}
@media only screen and (max-width: 768px)
{
.menu ul
{
margin: 0;
padding: 0;

list-style: none;

margin: 0 auto;
width: 100%;
height: 65px;
overflow-x: visible;
overflow-y: hidden;
white-space: nowrap;
word-wrap: normal;
overflow-wrap: normal;
flex-wrap: nowrap;
display: flex;
}
}